<h3>Hello Dear, <%= @user.first_name %></h3>
<p>Please enter the bellow code in the proper form to cinfirm your email address:</p>
<h3>Code: <%= @confirmation_code %>
<p>If you haven't attempt to make a user account in Hoomo Rental Car website, Ignore this email.</p>