<h3>Hello Dear, <%= @user.full_name%></h3>
<p>Your account hase been created successfully</p>
<p>But you need to Confirm your email address to have access to all the feature of this website.</p>
<p>You can confirm your email address, after login in to your account.</p>

<h3>Thanks For joining us</h3>